html, body 
{
    margin: 0;
    height: 100%;
    color: #fff;
      font-family: Monospace;
      font-size: 12px;
      line-height: 15px;
      overflow: hidden;
      overscroll-behavior: none;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#c 
{
    margin:0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: grab;
}

#c:active 
{
cursor: grabbing;
}
/* Info inicial */
h2
    {
      font-size: 19px;
      text-align: center;
  }
h3
    {
      font-size: 40px;
      text-align: center;
  }

.info 
{
        background-color: rgba(51, 51, 51, 0.9);
        color: #ffffff;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex ;
        flex-direction: column;
          justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
	      box-sizing: border-box;
          /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
          max-width: 100%;
          max-height: 100%;
          overflow: auto;

    }

    .info  a
    {
            text-decoration: none;
        color: yellow;
    
        }
        .info  a:hover
    {
            text-decoration: underline;
    
        }
    

.info-button 
{
            background-color: #FFFFFF;
            display: inline-block;
            border: 0px solid rgb(0, 0, 0);
            padding: 5px;
            text-align: center;
            cursor: pointer;
}

.info-message 
{
            text-align: left;
            color: #FFFFFF;
}

/* Sobre */
#sobreMsg {
  visibility: hidden;
  background-color: rgba(51, 51, 51, 0.9);
  color: #ffffff;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

#sobreMsg .close {
  margin: 0 auto;
  display: block;
}
    #sobreMsg a
{
        text-decoration: none;
		color: yellow;

    }
	#sobreMsg a:hover
{
        text-decoration: underline;

    }
    


.sobre-button 
{
            background-color: #FFFFFF;
            display: inline-block;
            border: 1px solid rgb(0, 0, 0);
            padding: 5px;
            text-align: center;
            width: 60px;
            cursor: pointer;
}

.sobre-message 
{
            text-align: left;
            color: #FFFFFF;
}

@media screen and (min-width: 1400px) {
  #sobreMsg {
      padding-left: 40%;
      padding-right: 40%;
  font-size: 15px;
  line-height: 19px;
  
  }
  .info {

  font-size: 14px;
  line-height: 17px;
  
  }
}



/* Barra de topo */
.topnav 
{
position: relative;
background-color: #333;
overflow: hidden;
}

.topnav a 
{
float: left;
color: #f2f2f2;
padding: 10px 20px;
text-decoration: none;
font-size: 25px;

}

.topnav a:hover
{
background-color: #ddd;
color: black;
cursor: pointer;
padding-bottom: 10px;
}


.topnav-right 
{
  position: absolute; /* Add this property */
  top: 0px;
 top: -3px;
  right: 0;
}

.topnav-centered {
  cursor:help;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
}


@media screen and (max-width: 600px) 
{
.topnav a, .topnav-right a, .topnav-centered a 
{

font-size: 17px;

}

h2
    {
      font-size: 17px;
  }
h3
    {
      font-size: 20px;
  }
}

.topnav-right a img {
  height: 1em !important; /* Adjust the size of the icon */
  width: 1em !important; /* Adjust the size of the icon */
  vertical-align: middle;
}

.topnav-right a:hover img {
  fill: black; /* Change the fill color to black on hover */
  filter: invert(100%);
  
  
}


.loading-screen 
{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
width:100%;
height: 100%;
background-color: rgba(237,237,237,0.95);
display: flex ;
flex-direction: column;
justify-content: center;
align-items: center;
color: black;
font-size: small;
}

img {
  height: 60px;
  width: 6
  0px;
}

.button-prev {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-prev button {
  position: absolute;
  top: 50%;
  left: 1%;
  background: transparent; /* Set background to transparent */
  border: none; /* Remove the border */
  box-shadow: none; /* Remove the box shadow */
}

.button-prev img,
.button-prev svg {
  height: 6em; /* Adjust the size of the icon */
  width: 6em; /* Adjust the size of the icon */
  cursor: pointer;
}

.button-next {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-next button {
  position: absolute;
  top: 50%;
  right: 1%;
  background: transparent; /* Set background to transparent */
  border: none; /* Remove the border */
  box-shadow: none; /* Remove the box shadow */
}

.button-next img,
.button-next svg {
  height: 6em; /* Adjust the size of the icon */
  width: 6em; /* Adjust the size of the icon */
  cursor: pointer;
}


.close {
  margin: 0 auto;
  display: block;
}